<mat-toolbar color="primary">
  <div class="nav-container">
    <a routerLink="" routerLinkActive="active">Student Management</a>
    <div class="right-content">
      <button mat-raised-button routerLink="set" routerLinkActive="active">
        Set
      </button>
      <button mat-raised-button routerLink="map" routerLinkActive="active">
        Map
      </button>
      <button mat-raised-button routerLink="array" routerLinkActive="active">
        Array
      </button>
      <button mat-raised-button routerLink="thread" routerLinkActive="active">
        Thread
      </button>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>