.nav-container {
  width: 90%;
  margin: 0 auto;
}

.nav-container a {
  color: #fff;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right-content {
  display: inline;
  float: right;
}

.right-content button {
  margin: 0 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}




/*---------- for Loader css -----------*/
.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(74, 74, 74, .4);
  z-index: 99999;
}

.spinner {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  z-index: 99999;
}