<input [(ngModel)]="message" (keyup.enter)="sendMessage()">
<ul>
    <li *ngFor="let message of thread">{{ message }}</li>
</ul>



<!-- https://www.google.com/search?q=create+a+new+thread+in+typescript&rlz=1C1CHBF_enIN1053IN1053&sxsrf=APwXEdez66cylwwF1sCORMtCSQILdGNJ9A%3A1681475518438&ei=vkc5ZOGtGtTA4-EPye6-uAM&oq=create+a+new+thread+in+types&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAxgAMgUIIRCgAToECCMQJzoICAAQigUQkQI6CwgAEIAEELEDEIMBOhEILhCABBCxAxCDARDHARDRAzoHCAAQigUQQzoKCAAQigUQsQMQQzoNCC4QigUQxwEQ0QMQQzoICAAQgAQQsQM6DggAEIoFELEDEIMBEJECOgUIABCABDoLCAAQFhAeEPEEEAo6BggAEBYQHjoICAAQFhAeEA86CggAEIAEEBQQhwI6CAgAEIoFEIYDOgQIIRAVOggIIRAWEB4QHToHCCEQoAEQCkoECEEYAFAAWIRsYJByaAFwAXgAgAGRAogBxhuSAQYyLjI1LjKYAQCgAQHAAQE&sclient=gws-wiz-serp -->

<!-- https://www.google.com/search?q=create+thread+in+angular+using+rxjs&rlz=1C1CHBF_enIN1053IN1053&oq=create+thread+in+angular+using+rxjs&aqs=chrome..69i57j69i60.431j0j7&sourceid=chrome&ie=UTF-8 -->