.nav-container {
    width: 90%;
    margin: 0 auto;
}

.right-content {
    display: flex;
    justify-content: center;
}

.right-content button {
    margin: 0 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}