<mat-toolbar color="accent">
    <div class="nav-container">
        <div class="right-content">
            <button mat-raised-button routerLink="web-worker" routerLinkActive="active">
                Thread
            </button>
            <button mat-raised-button routerLink="subject-thread" routerLinkActive="active">
                Subject-Thread
            </button>
            <button mat-raised-button routerLink="multiThreadWorker" routerLinkActive="active">
                MultiThread-Worker
            </button>
        </div>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>