<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Gender</th>
        </tr>
    </thead>
</table>





<!-- https://stackblitz.com/edit/angular-ivy-syo4la?file=src%2Fapp%2Fapp.component.ts -->
<!-- https://stackblitz.com/edit/how-to-use-rxjs-limit-click-button-once-in-2s?file=app%2Fapp.component.ts -->
<!-- https://www.google.com/search?q=only+single+request+send+on+multiple+click+in+angular&rlz=1C1CHBF_enIN1053IN1053&sxsrf=APwXEdfIpZQQ6ke2sEcnz6qMawlfUs1_pg%3A1681906378148&ei=yto_ZKHOCKLx4-EPspqByAs&ved=0ahUKEwih29vB9bX-AhWi-DgGHTJNALkQ4dUDCA8&uact=5&oq=only+single+request+send+on+multiple+click+in+angular&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIKCCEQoAEQwwQQCjIKCCEQoAEQwwQQCjoKCAAQRxDWBBCwA0oECEEYAFCKBFilDWDuEmgBcAF4AIABwgGIAbYIkgEDMC42mAEAoAEByAEIwAEB&sclient=gws-wiz-serp -->
<!-- https://www.google.com/search?q=json+serve+in+angular&rlz=1C1CHBF_enIN1053IN1053&sxsrf=APwXEddPWRUXSx29hJMlqLxVbUdSeV3zPw%3A1681907117070&ei=rd0_ZO_wA6bCjuMP1aKj0A4&ved=0ahUKEwiv-4ei-LX-AhUmoWMGHVXRCOoQ4dUDCA8&uact=5&oq=json+serve+in+angular&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIHCAAQDRCABDIHCAAQDRCABDIHCAAQDRCABDIGCAAQHhANMggIABAFEB4QDTIICAAQBRAeEA0yCAgAEAUQHhANMggIABAFEB4QDTIICAAQCBAeEA0yCAgAEIoFEIYDOgQIIxAnOggIABCKBRCRAjoLCAAQgAQQsQMQgwE6CwguEIoFELEDEIMBOgUIABCABDoHCAAQigUQQzoNCAAQigUQsQMQgwEQQzoOCAAQigUQsQMQgwEQkQI6CAgAEIAEELEDOgoIABCABBAUEIcCOg0IABCABBCxAxCDARAKOgcIABCABBAKOgYIABAWEB5KBAhBGABQAFj4FmDfG2gAcAF4AIABxgGIAfoakgEEMC4yMZgBAKABAcABAQ&sclient=gws-wiz-serp -->